a {
    background-color: rgb(207, 207, 243);
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

a:hover {
    background-color: rgb(132, 132, 134);
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    padding-top: 10px;
    width: 150px;
  }

.dropdown-content a {
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
