* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sirka20 {
    width: 20%;
}
.sirka40{
    width: 40%;
}
.cervena{ 
    background: rgb(255, 180, 180);
}
.zluta{
    background: rgb(255, 255, 155);
}
.zelena{
    background: rgb(160, 255, 160);
}
.sloupec{
    border: 1px solid black;
    padding: 25px;
    text-align: justify;
    float: left;
}
h3{
    margin: 0 0 8px 0;
}