
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
h1 {
    text-align: center;
}
i {
    color: #6f272d;
    font-weight: bold;
}
.formula {
    background-color: #fbafa6;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    width:max-content;
    padding: 0 10px 0 10px;
}